﻿body {
    background: url('http://media.jhm.info/Images/www/Microsites/Events/NaomiAndRuth/Background2014.jpg') top center no-repeat;
    background-color: #F2F8F5;
}

input[type=button], input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*ABOUT PAGE*/
.eventSessionsRow:nth-child(odd) {
    color: #553693;
}

.eventSessionsRow:nth-child(even) {
    color: #866228;
}

.aboutTableLeft {
    display: inline-block;
    text-align: left;
    width: 30%;
}

.aboutTableRight {
    display: inline-block;
    text-align: right;
    width: 70%;
}

/*REGISTER PAGE*/
.registerTableLeft {
    display: inline-block;
}

.registerTableRight {
    display: inline-block;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    h2 {
        font-size:16px;
    }
    h3 {
        font-size:14px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    h2 {
        font-size:24px;
    }
    h3 {
        font-size:22px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    h2 {
        font-size:22px;
    }
    h3 {
        font-size:20px;
    }

    /*ABOUT PAGE*/
    .aboutTableLeft {
        text-align: right;
        margin-right: 15px;
        width: 20%;
    }

    .aboutTableLeft::after{
        content:" -";
    }

    .aboutTableRight {
        text-align: left;
        width: 30%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    h2 {
        font-size:28px;
    }
    h3 {
        font-size:22px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    h2 {
        font-size:30px;
    }
    h3 {
        font-size:24px;
    }
}