﻿@model GlobalEvangelism.Web.Microsites.Models.RegisterModel

<div style='text-align:center;color: #866228;'>
    <h4>REGISTRATION INFORMATION</h4>
    <input type='button' class="btn-primary btn" onclick='ShowPanel("About");' value='Back to About' />
</div>

@using (Html.BeginForm("ReviewRegistration", "Home", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "RegisterForm" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Registration Form</legend>
        <div class="row">
            <div class="col-lg-12">
                @Html.CheckBoxFor(m => m.Registration.IsAGift)
                @Html.LabelFor(m => m.Registration.IsAGift)
            </div>
            <div class="GiftInfo col-sm-6" style="display:none;">
                @Html.LabelFor(m => m.Registration.GiftInfo)
                @Html.ValidationMessageFor(m => m.Registration.GiftInfo)
                @Html.TextBoxFor(m => m.Registration.GiftInfo, new { @class = "form-field" })
            </div>
            <div class="GiftInfo col-sm-6" style="display:none;">
                @Html.LabelFor(m => m.Registration.GiftEmail)
                @Html.ValidationMessageFor(m => m.Registration.GiftEmail)
                @Html.TextBoxFor(m => m.Registration.GiftEmail, new { @class = "form-field" })
            </div>
        </div>
        <hr />
        <div class="GiftField row" style="display: none; text-align: center; color: #866228;">
            <h4>GIFT RECIPIENT'S INFORMATION</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.FirstName)
                @Html.ValidationMessageFor(m => m.Registration.FirstName)
                <br />
                @Html.TextBoxFor(m => m.Registration.FirstName, new { @id = "registerName", @class="form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.LastName)
                @Html.ValidationMessageFor(m => m.Registration.LastName)
                <br />
                @Html.TextBoxFor(m => m.Registration.LastName, new { @class = "form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.Address1)
                @Html.ValidationMessageFor(m => m.Registration.Address1)
                <br />
                @Html.TextBoxFor(m => m.Registration.Address1, new { @class = "form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.Address2)
                @Html.ValidationMessageFor(m => m.Registration.Address2)
                <br />
                @Html.TextBoxFor(m => m.Registration.Address2, new { @class = "form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.City)
                @Html.ValidationMessageFor(m => m.Registration.City)
                <br />
                @Html.TextBoxFor(m => m.Registration.City, new { @class = "form-field" })
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.LabelFor(m => m.Registration.State)
                @Html.ValidationMessageFor(m => m.Registration.State)
                <br />
                @Html.DropDownListFor(m => m.Registration.State, GlobalEvangelism.Web.Microsites.Helpers.AddressHelper.GetStatesList(), "Select State", new { @class = "form-field" })
            </div>
            <div class="col-sm-6 col-md-3">
                @Html.LabelFor(m => m.Registration.PostalCode)
                @Html.ValidationMessageFor(m => m.Registration.PostalCode)
                <br />
                @Html.TextBoxFor(m => m.Registration.PostalCode, new { @class = "form-field" })
            </div>
            @*<div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.WorkPhone)
                @Html.ValidationMessageFor(m => m.Registration.WorkPhone)
                <br />
                @Html.TextBoxFor(m => m.Registration.WorkPhone, new { @class = "form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.HomePhone)
                @Html.ValidationMessageFor(m => m.Registration.HomePhone)
                <br />
                @Html.TextBoxFor(m => m.Registration.HomePhone, new { @class = "form-field" })
            </div>*@
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.MobilePhone)
                @Html.ValidationMessageFor(m => m.Registration.MobilePhone)
                <br />
                @Html.TextBoxFor(m => m.Registration.MobilePhone, new { @class = "form-field" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Registration.Email)
                @Html.ValidationMessageFor(m => m.Registration.Email)
                <br />
                @Html.TextBoxFor(m => m.Registration.Email, new { @class = "form-field" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <label class="GiftField" style="display:none;">Recipient prefers to be contacted by: </label><label class="NotGiftField">I prefer to be contacted by: </label>
                @Html.ValidationMessageFor(m=>m.Registration.ContactPreference)
                <br />
                <div>
                    @foreach (var button in Model.Registration.ContactPreferenceOptions.Split('|'))
                    {
                        @Html.RadioButtonFor(m => m.Registration.ContactPreference, button, new { @id = "ContactPref" + button, @onclick="ContactPrefChanged('" + button + "')" })
                        <label for="ContactPref@(button)">@(button)</label>
                    }
                </div>
            </div>
            @if(Model.Registration.Event.ChildcareEnabled)
            { 
                <div class="col-sm-6">
                    <label class="GiftField" style="display:none;">Does recipient require Child Care? </label><label class="NotGiftField">Do you require Child Care? </label>
                    @Html.ValidationMessageFor(m => m.Registration.SpecialInstructions)
                    <br />
                    @Html.RadioButtonFor(m => m.Registration.SpecialInstructions, "", new { @onchange = "HideChildrenInfoPnl();", @onclick = "HideChildrenInfoPnl();" })
                    <label for="GuestNo">No</label>
                    @Html.RadioButtonFor(m => m.Registration.SpecialInstructions, "REQUIRECHILDCARE", new { @onchange = "ShowChildrenInfoPnl();", @onclick = "ShowChildrenInfoPnl();" })
                    <label for="GuestYes">Yes</label>
                </div>
            }
        </div>
        @if(Model.Registration.Event.ChildcareEnabled)
        { 
            @Html.HiddenFor(x => x.Registration.Event.ChildcareEnabled)
            @Html.HiddenFor(x => x.Registration.Event.ChildcareAgeOptions)
            @Html.HiddenFor(x => x.Registration.Event.MaxChildren)
            @Html.HiddenFor(x => x.Registration.Children)
            <div class="ChildrenInfoPnl row" style="display:none;">
                <div class="col-lg-12">Please state the names and ages of your children: </div>
                <br />
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <div class="ChildrenList row">
                        <div class="ChildInfo">
                            <div class="col-sm-7">
                                <label>Child Name:</label>
                                <br>
                                <input type="text" class="ChildName form-field">
                            </div><div class="col-xs-8 col-sm-3">
                                <label>Age:</label>
                                <span class="field-validation-error" style="display:none;"><span>Required</span></span>
                                <br>
                                <select class="ChildAge form-field" onchange="$(this).prev().prev().hide();">
                                    <option>Select Age</option>
                                    @foreach (var ageOption in Model.Registration.Event.ChildcareAgeOptions.Split('|'))
                                    {
                                        <option value="@{@ageOption.Split(':')[1]}">@ageOption.Split(':')[0]</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-2 col-xs-4" style="text-align:right;">
                                <input type="button" class="btn-warning btn" value="X" onclick="RemoveChild(this);" style="margin-top:25px;" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div style="text-align:right;">
                        <input type="button" id="AddChildBtn" class="btn-primary btn" value="Add" onclick="AddChild();">
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            </div>
        }
        <hr />
        <div class="row">
            <p class="middle-header">
                Each session includes dinner, teaching and child care & child's meal. This semester's theme is <span>"Hannah's Song; What Love Looks Like!" </span> with the following topics:
            </p>
        </div>
        <div class="row" id="SessionsPnl" style="border:1px solid transparent;position:relative;">
            <span id="SessionsPnlValidationMsg" class="field-validation-error" style="display:none;position:absolute;top:-20px;"><span>You must select at least one session.</span></span>
            @*Are we assigning one of these to be default true when the page loads? (based on the current date)*@ 
            @if (@Model.Registration.Event.PreRegistrationChecked)
            {
                <div>
                    @Html.CheckBoxFor(m => m.Registration.Event.PreRegistrationChecked, new { @class = "RegisterAllBtn", @data_price = Model.Registration.Event.PreRegistrationPrice, @onchange = "RegisterAllChanged()", @onclick = "RegisterAllChanged()" })
                    @Html.LabelFor(m => m.Registration.Event.PreRegistrationChecked, Model.Registration.Event.PreRegistrationDescription)
                </div>
            }
            @if (@Model.Registration.Event.FullRegistrationChecked)
            {
                <div style="margin-bottom: 20px;">
                    @Html.CheckBoxFor(m => m.Registration.Event.FullRegistrationChecked, new { @class = "RegisterAllBtn", @data_price = Model.Registration.Event.FullRegistrationPrice, @onchange = "RegisterAllChanged()", @onclick = "RegisterAllChanged()" })
                    @Html.LabelFor(m => m.Registration.Event.FullRegistrationChecked, Model.Registration.Event.FullRegistrationDescription)
                </div>
            }

            <div id="EventTable" class="event-table">
                @foreach (GlobalEvangelism.Web.Microsites.Models.EventSession row in Model.Registration.Event.Sessions)
                {
                    <div class="row">
                        <div class="col-sm-1 hidden-xs">&nbsp;</div>
                        <div class="col-xs-1"><input type="checkbox" id="@(row.Id)" class="RegisterEventBtn" onchange="RegisterEventChanged();" data-price="@{@row.Price}" value="@(row.Price)" checked="@((Model.Registration.Event.FullRegistrationChecked || Model.Registration.Event.PreRegistrationChecked) ? true : false)" /></div>
                        <div class="col-sm-7 col-xs-8" style="padding:0;">
                            <div class="col-md-4"><label for="@(row.Id)">@row.StartDate.ToString("MMMM d").ToUpper()</label></div>
                            <div class="col-md-8"><label for="@(row.Id)">"@row.Name"</label></div>
                        </div>
                        <div class="col-xs-2" style="text-align:right;"><label class="EventPrice" for="@(row.Id)">$@row.Price</label></div>
                        <div class="col-sm-1 hidden-xs">&nbsp;</div>
                    </div>
                }
            </div>
            <input type="hidden" id="eventsSelected" />
        </div>
        <div class="reg-amt-row row" style="text-align:left;">
            <span>Due to the already discounted pricing, there is no refund on registration.</span>
            <div class="reg-amt-label" style="text-align:right;">
                Registration Amount: $<span class="reg-amt">@((Model.Registration.Event.FullRegistrationChecked) ? Model.Registration.Event.FullRegistrationPrice.ToString("C") : (Model.Registration.Event.PreRegistrationChecked) ? Model.Registration.Event.PreRegistrationPrice.ToString("0.00") : "__________")</span>
                <br />
                <span id="SaveMessage" style="display:none;" class="text-danger">You can save money by purchasing all the sessions!<input type="button" class="btn-primary btn" onclick="SelectAllEvents();" value="Save" /></span>
            </div>
        </div>
        <hr />
        <span id="PaymentErrorMessage" class="field-validation-error" style="display:none;"></span>
        @Html.ValidationMessageFor(x=>x.Registration.PaymentType)
        <div class="row">
            <div class="col-sm-4 col-md-3 col-lg-2">I am paying by:</div>
            <div class="col-sm-4 col-md-3 col-lg-2">                
                @Html.RadioButtonFor(x => x.Registration.PaymentType, "Check", new { @onclick = "PaymentTypeChanged('Check');" })
                <label for="Check"> Check</label>
            </div>
            <div class="col-sm-4 col-md-3 col-lg-2">
                @Html.RadioButtonFor(x => x.Registration.PaymentType, "CreditCard", new { @onclick = "PaymentTypeChanged('CreditCard');" })
                <label for="CreditCard"> Credit Card</label>
            </div>
        </div>
        <br />
        <div id="CheckFields" class="row" style="display:none;">
            <span id="CheckingGeneralError" class="field-validation-error" style="display:none;"></span>
            <div class="col-md-6">
                @Html.LabelFor(x=>x.Registration.CheckRoutingNumber) 
                @Html.ValidationMessageFor(x=>x.Registration.CheckRoutingNumber)
                <br />
                @Html.TextBoxFor(x => x.Registration.CheckRoutingNumber, new { @class = "form-control", @onchange="CheckChanged();" })
            </div>
            <div class="col-md-6">
                <label>Re-enter Routing Number</label>
                <span id="Registration_CheckRoutingNumberConfirmValidationMsg" class="field-validation-error" style="display:none;"><span>Routing No. Required.</span></span>
                <br />
                <input type="text" id="Registration_CheckRoutingNumberConfirm" class="form-control" onchange="CheckChanged();" />
            </div>
            <div class="col-md-6">
                @Html.LabelFor(x => x.Registration.CheckAccountNumber)
                @Html.ValidationMessageFor(x => x.Registration.CheckAccountNumber)
                <br />
                @Html.TextBoxFor(x => x.Registration.CheckAccountNumber, new { @class = "form-control", @onchange = "CheckChanged();" })
            </div>
            <div class="col-md-6" style="display:none;">
                <label>Bank Name</label>
                <br />
                <span style="line-height: 34px;" id="BankName"></span>
            </div>
            @Html.HiddenFor(x => x.Registration.CheckBankName)
            @Html.HiddenFor(x => x.Registration.CheckBankPhone)
            @Html.HiddenFor(x => x.Registration.CheckBankAddress)
            @Html.HiddenFor(x => x.Registration.CheckBankCity)
            @Html.HiddenFor(x => x.Registration.CheckBankState)
            @Html.HiddenFor(x => x.Registration.CheckBankZip)
        </div>
        <div id="CreditCardFields" class="row" style="display:none;">
            <div class="col-lg-3 col-md-6" style="height:59px;">
                @Html.LabelFor(x => x.Registration.CreditCardName)
                @Html.ValidationMessageFor(x => x.Registration.CreditCardName)
                <br />
                <input type="text" class="form-control" style="width: 50% !important; float:left;" placeholder="First" id="Registration_CreditCardFirstName" onkeyup="CreditCardNameChanged();" onchange="CreditCardNameChanged();" />
                <input type="text" class="form-control" style="width: 50% !important; float:left;" placeholder="Last" id="Registration_CreditCardLastName" onkeyup="CreditCardNameChanged();" onchange="CreditCardNameChanged();" />
                @Html.TextBoxFor(x => x.Registration.CreditCardName, new { @style = "border: 0;color: transparent;background: transparent;line-height: 0;width: 0;height: 0;", @tabindex="500" })
            </div>
            <div class="col-lg-3 col-md-6">
                @Html.LabelFor(x => x.Registration.CreditCardNumber) <span id="RegistrationCreditCardType"></span>
                @Html.ValidationMessageFor(x => x.Registration.CreditCardNumber)
                <span id="CreditCardInvalidMsg" class="field-validation-error" style="display:none;"><span>Invalid Card Number</span></span>
                <br />
                @Html.TextBoxFor(x => x.Registration.CreditCardNumber, new { @class = "form-control", @style = "padding-left:16px;", @onchange = "CreditCardNumberChanged();", @onkeyup = "CreditCardNumberChanged();" })
            </div>
            <div class="col-lg-3 col-md-6" style="height:59px;">
                @Html.LabelFor(x => x.Registration.CreditCardExpirationDate)
                @Html.ValidationMessageFor(x => x.Registration.CreditCardExpirationDate)
                <br />
                @Html.DropDownList("Registration.CreditCardExpirationMonth", GlobalEvangelism.Web.Microsites.Helpers.CreditCardHelper.GetMonthList(), "MM", new { @class = "form-control", @style = "width:50%; float:left;", @onchange = "CreditCardExpirationChanged();" })
                @Html.DropDownList("Registration.CreditCardExpirationYear", GlobalEvangelism.Web.Microsites.Helpers.CreditCardHelper.GetYearList(), "YYYY", new { @class = "form-control", @style = "width:50%;", @onchange = "CreditCardExpirationChanged();" })
                @Html.TextBoxFor(x => x.Registration.CreditCardExpirationDate, new { @style = "border: 0;color: transparent;background: transparent;line-height: 0;width: 0;height: 0;", @tabindex = "501" })
            </div>
            <div class="col-lg-3 col-md-6">
                @Html.LabelFor(x => x.Registration.CreditCardCID) <a id="CVVLink" href="http://www.cvvnumber.com/cvv.html" tabindex="502" onclick="window.open(this.href, '_blank', 'width=200, height=100'); return false;"><img src="~/Images/help.png" /></a>
                @Html.ValidationMessageFor(x => x.Registration.CreditCardCID)
                <br />
                @Html.PasswordFor(x => x.Registration.CreditCardCID, new { @class = "form-control" })
            </div>
        </div>

        <br />
        <hr />
        <div style="text-align:center;">
            @Html.ValidationSummary(false, "Please review items above in red text.")
            <div class="row">
                <div class="col-xs-8 col-sm-5" style="text-align: right;">
                    <img src="/Images/SSL.png" style="text-align:right;">
                </div>
                <div class="col-xs-4 col-sm-2" style="margin-top: 10px;">
                    <input id="SignUpBtn" type="button" class="btn-success btn" value="Sign up" onclick="SignUp();">
                </div>
                <div class="col-sm-5 hidden-xs"></div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Registration.Guests)
        @Html.HiddenFor(m => m.Registration.Event.EventID)
        @Html.HiddenFor(m => m.Registration.Event.SiteName)
        @*@Html.HiddenFor(m => m.Registration.EventSessions)*@
        @Html.HiddenFor(m => m.Registration.EventSessionsConcat)
        @Html.HiddenFor(m => m.Registration.AmountDue)
        @Html.HiddenFor(m => m.Registration.CreditCardType)
    </fieldset>
}