﻿@using System.Activities.Statements
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@model GlobalEvangelism.Web.Microsites.Models.RegisterModel

@(new HtmlString(@ViewBag.SubHeader))

@using (Html.BeginForm("SubmitRegistration", "Home", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { Id = "SummaryForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Registration Summary</legend>
            <span id="RegistrationSuccessMessage" class="text-success" style="display:none;"></span>
            <span id="RegistrationErrorMessage" class="field-validation-error" style="display:none;"></span>
            @if(Model.Registration.IsAGift)
            { 
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
                        @Html.LabelFor(m => m.Registration.GiftInfo)
                        @Html.DisplayFor(m => m.Registration.GiftInfo, new { htmlAttributes = "@style = \"height:60px;\"" })
                        <br />
                        @Html.LabelFor(m => m.Registration.GiftEmail)
                        @Html.DisplayFor(m => m.Registration.GiftEmail, new { htmlAttributes = "@style = \"height:60px;\"" })
                    </div>
                </div>
                <hr />
            }
            @if(Model.Registration.IsAGift)
            { 
                <div class="row" style="text-align: center; color: #866228;">
                    <h4>GIFT RECIPIENT'S INFORMATION</h4>
                </div>
            }
            <div class="row" id="SummaryContactRow">
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.FirstName)
                    <br />
                    @Html.DisplayFor(m => m.Registration.FirstName)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.LastName)
                    <br />
                    @Html.DisplayFor(m => m.Registration.LastName)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.Address1)
                    <br />
                    @Html.DisplayFor(m => m.Registration.Address1)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.Address2)
                    <br />
                    @Html.DisplayFor(m => m.Registration.Address2)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.City)
                    <br />
                    @Html.DisplayFor(m => m.Registration.City)
                </div>
                <div class="col-sm-6 col-md-3">
                    @Html.LabelFor(m => m.Registration.State)
                    <br />
                    @Html.DisplayFor(m => m.Registration.State)
                </div>
                <div class="col-sm-6 col-md-3">
                    @Html.LabelFor(m => m.Registration.PostalCode)
                    <br />
                    @Html.DisplayFor(m => m.Registration.PostalCode)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.WorkPhone)
                    <br />
                    @Html.DisplayFor(m => m.Registration.WorkPhone)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.HomePhone)
                    <br />
                    @Html.DisplayFor(m => m.Registration.HomePhone)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.MobilePhone)
                    <br />
                    @if (Model.Registration.MobilePhone == null || Model.Registration.MobilePhone == "*")
                    {
                        <span>Not Provided</span>
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Registration.MobilePhone)
                    }
                </div>  
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Registration.Email)
                    <br />
                    @if (Model.Registration.Email == null || Model.Registration.Email == "noreply@jhm.org")
                    {
                        <span>Not Provided</span>
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Registration.Email)
                    }
                </div>
                <div class="col-sm-6 hidden-xs"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6" style="height:60px;">
                    @if(Model.Registration.IsAGift)
                    { 
                        <label>Recipient prefers to be contacted by: </label>
                    }
                    else
                    {
                        <label>I prefer to be contacted by: </label>
                    }
                    <br />
                    @Html.DisplayFor(m=>m.Registration.ContactPreference)
                </div>
                @if(Model.Registration.Event.ChildcareEnabled)
                { 
                    <div class="col-sm-6">
                        @if(string.IsNullOrWhiteSpace(Model.Registration.Children))
                        {
                            <label>Child Care Not Required.</label>
                        }
                        else
                        { 
                            <label>Child Care Required for:</label>
                            <br />
                            if (Model.Registration.Children != null)
                            {
                                Dictionary<string,string> ageOptions = new Dictionary<string,string>();
                                foreach(string option in Model.Registration.Event.ChildcareAgeOptions.Split('|'))
                                {
                                    ageOptions.Add(option.Split(':')[1], option.Split(':')[0]);
                                }
                            
                                foreach (var child in Model.Registration.Children.Split('|'))
                                {
                                    string name = child.Split(':')[0];
                                    string age = child.Split(':')[1];
                                
                            
                                    <span>@name, @ageOptions[age]</span><br />
                                }
                            }
                        }
                    </div>
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label>Purchase:</label>
                    @if (Model.Registration.Event.PreRegistrationChecked)
                    {
                        <div>
                            @Html.DisplayFor(m => m.Registration.Event.PreRegistrationDescription)
                            <br />
                        </div>
                    }
                    else
                    {
                        if (Model.Registration.Event.FullRegistrationChecked)
                        {
                            @Html.DisplayFor(m => m.Registration.Event.FullRegistrationDescription)
                            <br />
                        }

                    }
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m=>m.Registration.AmountDue)
                    <br />
                    @Html.DisplayFor(m => m.Registration.AmountDue)
                </div>
            </div>
        <br />
        
        <div class="row" style="text-align:center;">
            <label>Sessions:</label>
            @foreach (var row in ViewBag.SelectedSessions)
            {
                <div class="row">
                    <div class="col-md-3 col-sm-2 hidden-xs">&nbsp;</div>
                    <div class="col-md-6 col-sm-8 col-xs-12" style="padding:0;">
                        <div class="col-xs-4" style="text-align:left;"><label for="@(row.Id)">@row.StartDate.ToString("MMMM d").ToUpper()</label></div>
                        <div class="col-xs-8" style="text-align:right;"><label for="@(row.Id)">"@row.Name"</label></div>
                    </div>
                    <div class="col-md-3 col-sm-2 hidden-xs">&nbsp;</div>
                </div>
            }
        </div>
        <hr />
        @switch(Model.Registration.PaymentType)
        {
            case "CreditCard":
                <label>Payment Type: Credit Card</label>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        @Html.LabelFor(x => x.Registration.CreditCardName)
                        <br />
                        <span>@Model.Registration.CreditCardName.Split('|')[0] @Model.Registration.CreditCardName.Split('|')[1]</span>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        @Html.LabelFor(x => x.Registration.CreditCardNumber)
                        <br />
                        <span>@{@(string.Format("({0}) {1}{2}", Model.Registration.CreditCardType, "".PadLeft(Model.Registration.CreditCardNumber.Length-4,'X'), Model.Registration.CreditCardNumber.Substring(Model.Registration.CreditCardNumber.Length-4, 4)))}</span>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        @Html.LabelFor(x => x.Registration.CreditCardExpirationDate)
                        <br />
                        @Html.DisplayFor(x => x.Registration.CreditCardExpirationDate)
                    </div>
                    <div class="col-lg-3 col-md-6">
                        @Html.LabelFor(x => x.Registration.CreditCardCID)
                        <br />
                        <span>XXX</span>
                    </div>
                </div>
                break;
            case "Check":
                <label>Payment Type: Check</label>
                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(x=>x.Registration.CheckRoutingNumber)
                        <br />
                        @Html.DisplayFor(x => x.Registration.CheckRoutingNumber)
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Registration.CheckAccountNumber)
                        <br />
                        @Html.DisplayFor(x => x.Registration.CheckAccountNumber)
                    </div>
                </div>
                break;
        }
        
        <div id="SummaryBtnsPnl">
            <hr />
            <div style="text-align:center;">
                <input id="SummaryCancelBtn" type="button" class="btn-warning btn" value="Cancel" onclick="ShowPanel('Register');">
                <input id="SummarySubmitBtn" type="button" class="btn-success btn" value="Submit" onclick="SubmitRegistration();" />
            </div>
        </div>              
    </fieldset>
    
    @Html.HiddenFor(x=>x.Registration.Event.EventID)
}