﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script src="~/Scripts/legacy-js-support.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/html5shiv-printshiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Sites/NR.css") @*TODO Load from content api*@
</head>
<body>
        <div id="userSettings">
            @Html.Partial("_UserSettings")
        </div>

        <div id="body" class="jumbotron">
            @RenderBody()
        </div>

        @*<footer>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Todo List", "Index", "Home", new { area = "Registration" }, null)</li>
                    <li>@Html.ActionLink("Todo List", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
            </nav> 
        </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>